header h1{ 
    background-color: rgb(92, 96, 104);
    font-family:  serif;
    text-align: center;
    

}
h3{text-align: center;}
body{
    margin-left: 7%;
    margin-right: 7%;

font-family: 'Courier New', monospace;

}
a{
    background-color: rgb(116, 122, 136);
    border: solid 1px rgb(4, 15, 39);
}
li {
    margin: 15px;
}
footer{
    background-color: teal;
}
header div nav ul li {display: inline-block;
    
}
main{
    background-color: thistle;
}
header{
    background-color: teal;
}
p{
    margin-left: 20px;
}